

<mat-toolbar color="primary">Angular Chat</mat-toolbar>


<mat-list>
  <mat-list-item>Angular</mat-list-item>
  <mat-list-item>Apolo</mat-list-item>
  <mat-list-item>AGraph</mat-list-item>
</mat-list>