.login-container {
    // coloca no centro da tela
    height: 90vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  
  mat-card {
    width: 280px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  