<div class="login-container">

  <mat-card>

    <mat-card-title>
      <mat-toolbar color="primary">
      <span>{{ configs.actionText}}</span>
      <span class="spacer"></span>

      <mat-spinner 
      diameter="25"
      strokeWidth="2"
      *ngIf="configs.isLoading"
      ></mat-spinner>

      </mat-toolbar>
    </mat-card-title>


  <mat-card-content>
    <form (submit)="onSubmit()" [formGroup]="loginForm">

      <!-- só exibe o campo se tiver tentando fazer o cadastro -->
      <mat-form-field *ngIf="!configs.isLogin" >
        <input formControlName="name" matInput  type="text" placeholder="Name">
        <mat-error *ngIf="name.hasError('required')">
          This field is required
        </mat-error>
        <mat-error *ngIf="name.hasError('minlength')">
          Enter at least 5 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="email" matInput  type="email" placeholder="Email">
        <!-- <mat-error *ngIf="loginForm.get('email').hasError('required')"> -->
        <mat-error *ngIf="email.hasError('required')">
          This field is required
        </mat-error>
        <mat-error *ngIf="email.hasError('email')">
          Please enter valid email address
        </mat-error>
      </mat-form-field>


      <mat-form-field>
        <input formControlName="password" matInput  type="password" placeholder="password">
        <mat-error *ngIf="password.hasError('required')">
          This field is required
        </mat-error>
        <mat-error *ngIf="password.hasError('minlength')">
          Enter at least 5 characters
        </mat-error>
      </mat-form-field>

      <mat-slide-toggle [checked]="authService.keepSigned" (change)="onKeepSigned()" >Kepp me signed in </mat-slide-toggle>
      <mat-slide-toggle [checked]="authService.rememberMe" (change)="onRemeberMe()" >Remember Me</mat-slide-toggle>

      <button [disabled]="loginForm.invalid" type="submit" mat-button color="primary">{{ configs.actionText}}</button>
      <button (click)="changeAction()" type="button" mat-button color="primary">{{ configs.buttonActionText}}</button>

    </form>
  </mat-card-content>
</mat-card>
</div>