/* You can add global styles to this file, and also import other style files */

html , body {
    margin: 0;
}

// spinner
// app-login .mat-spinner circle {
//     stroke: #fff;
// }
.app-login-spinner .mat-spinner circle {
    stroke: #fff;
}

.spacer {
    flex: 1 1 auto;
}